*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:white;
    font-family:Arial;
}

.container{
    width:90%;
    margin:auto;
}

/* HEADER */

.header{
    background:#4CAF50;
    color:white;
    text-align:center;
    padding:20px;
}

.menu a{
    margin-right:20px;
}

/* Main layout */
.main{
    display:flex;
    gap:20px;
    padding:20px 0;
}

/* Sidebar */
.sidebar{
    width:200px;
    background:#f4f4f4;
    padding:20px;
}

/* Content */
.content{
    flex:1;
}

.post img{
    width:50%;
    max-width:400px;
}

/* Footer */
.footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}