/* Reset cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{ 
    text-align: center;
    color:white;
    background-color: #387BFF;
    padding:20px;
}
.header{
    background-color: #387BFF  ;
    text-align: center;
    padding-bottom: 15px;
}
.header a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.profile{
    display:flex;
    align-items:center;      /* căn giữa theo chiều dọc */
    justify-content:center;  /* căn giữa theo chiều ngang */
    padding:20px;
    gap:20px;                /* khoảng cách giữa ảnh và chữ */
}

.profile img{
    width:100px;
    height:100px;
    border-radius:50%;
    border:3px solid #387BFF;
}

.profile p{
    max-width:500px;
}

.footer{    
    display:flex;
    align-items:center;      /* căn giữa theo chiều dọc */
    justify-content:center;  /* căn giữa theo chiều ngang */
    background-color: #F1F1F1;
    padding: 20px;
}



