/* Reset cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap:10px
}

/* item */
.flex-item {
    width: calc(50% - 10px);
    background-color: #F08080;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

/* khối lớn */
.large {
    width: 100%;
}

/* responsive */
@media screen and (max-width: 1024px) {
    .flex-item {
        width: 100%;
    }
}